

.collapse-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin: 20px 0;
    width: 80%;

    p {
        padding-left: 10px;
    }
}

.collapse-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    width: 100%;
    border-radius: 5px;
    padding: 0 10px;
    border: none;
    background-color: #ff6060;
    p {
        font-weight: 700;
        font-size: 24px;
        color: white
    }

    .arrow-down{
        transition: transform 150ms ease-in;
        transform: rotate(0deg);
    }
    .arrow-up{
        transform: rotate(180deg);
        transition: transform 150ms ease-in;
    }
}

.collapse-content {
    border-radius: 0 0 5px 5px;
    background-color: #F6F6F6;
    p {
        font-weight: 400;
        font-size: 18px;
        padding: 0 20px 20px 20px;
    }
}


.logement-collapse {
    display: flex;
    justify-content: space-between;
    margin: 20px 70px;

    .logement-container {
    display: flex;
    flex-direction: column;
    margin:  0;
    width: 48%;
    }
}
