
.footer {
    height: 210px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
    img {height: 40px;}
    p { color: white;
        padding: 10px 0 }
}
