
.rental-info {
    margin-left: 20px;

    h2 {
        font-weight: 500;
        font-size: 36px;
        color: #FF6060;
    }
    .location {
        font-weight: 500;
        font-size: 18px;
    }
}
