@charset "UTF-8";
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 30px;
}
header .logo {
  margin-left: 40px;
}
header .nav a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  padding-right: 50px;
}
header .nav .underline {
  text-decoration: underline;
}

.footer {
  height: 210px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}
.footer img {
  height: 40px;
}
.footer p {
  color: white;
  padding: 10px 0;
}

.gallery {
  background-color: #F6F6F6;
  border-radius: 10px;
  margin: 40px 50px;
  display: flex;
  flex-wrap: wrap;
}
.gallery .card {
  width: 29%;
  margin: 25px 20px;
  position: relative;
  display: flex;
  align-items: flex-end;
}
.gallery .card .card-title {
  color: white;
  font-weight: 700;
  font-size: 18px;
  position: absolute;
  z-index: 1;
  padding: 5px 10px;
}
.gallery .card img {
  height: 310px;
  width: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  border-radius: 20px;
  pointer-events: none;
}

.collapse-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  margin: 20px 0;
  width: 80%;
}
.collapse-container p {
  padding-left: 10px;
}

.collapse-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  width: 100%;
  border-radius: 5px;
  padding: 0 10px;
  border: none;
  background-color: #ff6060;
}
.collapse-button p {
  font-weight: 700;
  font-size: 24px;
  color: white;
}
.collapse-button .arrow-down {
  transition: transform 150ms ease-in;
  transform: rotate(0deg);
}
.collapse-button .arrow-up {
  transform: rotate(180deg);
  transition: transform 150ms ease-in;
}

.collapse-content {
  border-radius: 0 0 5px 5px;
  background-color: #F6F6F6;
  transition: max-height 1s ease-in;
}
.collapse-content p {
  font-weight: 400;
  font-size: 18px;
  padding: 0 20px 20px 20px;
}

.logement-collapse {
  display: flex;
  justify-content: space-between;
  margin: 20px 70px;
}
.logement-collapse .logement-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 48%;
}

.carousel {
  height: 410px;
  margin: 30px 70px 10px 70px;
  border-radius: 25px;
  padding: 0 15px;
  background-size: cover;
  background-position: center;
  position: relative;
}
.carousel .arrow-left {
  position: absolute;
  top: 150px;
}
.carousel .arrow-right {
  position: absolute;
  top: 150px;
  right: 15px;
}
.carousel .slideCounter {
  font-weight: 500;
  color: white;
  position: absolute;
  bottom: 30px;
  left: 50%;
}

.rental-info {
  margin: 0 70px;
  display: flex;
  justify-content: space-between;
}
.rental-info .rental-title-tags .tags {
  display: flex;
  margin: 20px 0 10px 0;
}
.rental-info .rental-title-tags .tag {
  margin: 0 10px 0 0;
  padding: 4px 25px;
  font-weight: 700;
  font-size: 14px;
  color: white;
  background-color: #FF6060;
  border-radius: 10px;
}

.rental-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.rental-title h2 {
  margin: 20px 0 0 0;
  font-weight: 500;
  font-size: 36px;
  color: #FF6060;
}
.rental-title .location {
  font-weight: 500;
  font-size: 18px;
  margin: 5px 0;
}

.equipment {
  padding-bottom: 3px;
  list-style-type: none;
}

.host-rate .rate .rating {
  display: flex;
  flex-wrap: nowrap;
}

.host-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 20px 10px 20px;
}
.host-profile .host-name {
  color: #FF6060;
  font-weight: 500;
  font-size: 18px;
  padding-right: 20px;
}
.host-profile .host-pic {
  height: 64px;
  border-radius: 50%;
}

/*** Général ***/
* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0 auto 0 auto;
  padding: 0;
  max-width: 1440px;
}

.cursor {
  cursor: pointer;
}

.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
.banner img {
  height: 220px;
  width: 100%;
  border-radius: 20px;
  margin: 20px 0;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(50%);
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.3);
}
.banner h1 {
  color: white;
  font-weight: 700;
  font-size: 48px;
  position: absolute;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.error .error-404 {
  font-size: 150px;
  color: #FF6060;
}
.error .error-txt {
  color: #FF6060;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}
.error .error-link {
  text-decoration: underline;
  color: black;
  font-size: 18px;
  padding: 40px 0;
  cursor: pointer;
}

.no-underline {
  text-decoration: none;
}

/* responsive mobile */
@media screen and (max-width: 768px) {
  body {
    max-width: 768px;
  }
  header {
    margin: 10px 20px;
  }
  header .logo {
    margin-left: 0px;
  }
  header .logo img {
    height: 46px;
    width: 145px;
  }
  header .nav a {
    font-size: 12px;
    padding-right: 0;
    padding-left: 15px;
    text-transform: uppercase;
  }
  .banner {
    margin: 0px 20px;
  }
  .banner img {
    height: 110px;
    width: 100%;
    margin: 10px 0;
    box-shadow: none;
  }
  .banner h1 {
    font-size: 24px;
    padding-left: 20px;
  }
  .gallery {
    background-color: white;
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
  }
  .gallery .card {
    width: 100%;
    margin: 15px 20px;
  }
  .gallery .card img {
    height: 255px;
  }
  .collapse-container {
    margin: 20px 0;
    width: 88%;
  }
  .collapse-button {
    align-items: center;
    height: 32px;
  }
  .collapse-button p {
    padding: 0 0 0 5px;
    font-size: 13px;
  }
  .collapse-button img {
    width: 20px;
    height: 20px;
  }
  .collapse-button .arrow-down {
    padding: 5px 5px 0 0;
  }
  .collapse-button .arrow-up {
    padding: 7px 5px 5px 5px;
  }
  .collapse-content {
    height: 100px;
  }
  .collapse-content p {
    font-size: 12px;
  }
  .carousel {
    height: 250px;
    margin: 20px;
    border-radius: 10px;
  }
  .carousel .arrow-left {
    top: 110px;
    height: 24px;
    width: 24px;
  }
  .carousel .arrow-right {
    top: 110px;
    height: 24px;
    width: 24px;
  }
  .carousel .slideCounter {
    display: none;
  }
  .logement-collapse {
    display: flex;
    flex-direction: column;
    margin: 15px 20px 0 20px;
    gap: 25px;
  }
  .logement-collapse .logement-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .rental-info {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
  }
  .rental-info .rental-title-tags .tags {
    margin: 5px 0;
    display: flex;
    flex-wrap: wrap;
  }
  .rental-info .rental-title-tags .tags .tag {
    margin: 0 10px 7px 0;
    padding: 4px 25px;
    font-size: 10px;
    border-radius: 5px;
    flex: none;
  }
  .rental-info .host-rate {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .rental-info .host-rate img {
    height: 18px;
    width: 18px;
  }
  .rental-info .host-rate .rate {
    align-self: center;
  }
  .rental-info .rental-title h2 {
    margin: 0 0 0 0;
    font-weight: 500;
    font-size: 18px;
  }
  .rental-info .rental-title .location {
    font-weight: 500;
    font-size: 14px;
  }
  .rental-info .host-profile {
    margin: 5px 5px;
  }
  .rental-info .host-profile .host-name {
    font-size: 12px;
    padding-right: 10px;
    margin: auto;
  }
  .rental-info .host-profile .host-pic {
    height: 32px;
    width: 32px;
  }
  .rental-info .error .error-404 {
    font-size: 96px;
  }
  .rental-info .error .error-txt {
    font-size: 18px;
  }
  .rental-info .error .error-link {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */