@charset "UTF-8";
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 30px;
}
header .logo {
  margin-left: 30px;
}
header .nav a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  padding-right: 50px;
}

.footer {
  height: 210px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 150px;
}
.footer img {
  height: 40px;
}
.footer p {
  color: white;
  padding: 10px 0;
}

.gallery {
  background-color: #F6F6F6;
  border-radius: 10px;
  margin: 40px 50px;
  display: flex;
  flex-wrap: wrap;
}
.gallery .card {
  width: 29%;
  margin: 25px 20px;
  position: relative;
  display: flex;
  align-items: flex-end;
}
.gallery .card .card-title {
  color: white;
  font-weight: 700;
  font-size: 18px;
  position: absolute;
  padding: 5px 10px;
}
.gallery .card img {
  height: 310px;
  width: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.collapse-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  width: 80%;
}
.collapse-container p {
  padding-left: 10px;
}

.collapse-button {
  display: flex;
  justify-content: space-between;
  height: 52px;
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: #ff6060;
}
.collapse-button p {
  padding: 10px 0 0 5px;
  font-weight: 700;
  font-size: 24px;
  color: white;
  margin: inherit;
}
.collapse-button .arrow-down {
  padding: 10px 10px 0 0;
  transform: rotate(0);
  transition: transform 100ms ease-in;
}
.collapse-button .arrow-up {
  padding: 10px 10px 7px 10px;
  transform: rotate(180deg);
}

.collapse-content {
  height: 120px;
  border-radius: 0 0 5px 5px;
  background-color: #F6F6F6;
}
.collapse-content p {
  font-weight: 400;
  font-size: 18px;
}

.logement-collapse {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}
.logement-collapse .logement-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  width: 47%;
}
.logement-collapse .logement-container p {
  padding-left: 10px;
}

.carousel {
  height: 410px;
  margin: 30px 30px 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-size: cover;
  background-position: center;
}

.rental-info {
  margin: 0 30px;
}
.rental-info .rental-title-host {
  display: flex;
  justify-content: space-between;
}

.rental-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.rental-title h2 {
  margin: 20px 0 0 0;
  font-weight: 500;
  font-size: 36px;
  color: #FF6060;
}
.rental-title .location {
  font-weight: 500;
  font-size: 18px;
  margin: 5px 0;
}

.host-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 20px;
}
.host-profile .host-name {
  color: #FF6060;
  font-weight: 500;
  font-size: 18px;
  padding-right: 20px;
}
.host-profile .host-pic {
  height: 64px;
  border-radius: 50%;
}

.tags-rate {
  display: flex;
  justify-content: space-between;
}
.tags-rate .tags {
  display: flex;
  margin: 10px 0;
}
.tags-rate .tag {
  margin: 0 10px 0 0;
  padding: 4px 25px;
  font-weight: 700;
  font-size: 14px;
  color: white;
  background-color: #FF6060;
  border-radius: 10px;
}

/*** Général ***/
* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0 auto 0 auto;
  padding: 0;
  max-width: 1440px;
}

.cursor {
  cursor: pointer;
}

.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
.banner img {
  height: 220px;
  width: 100%;
  border-radius: 20px;
  margin: 20px 0;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(50%);
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.3);
}
.banner h1 {
  color: white;
  font-weight: 700;
  font-size: 48px;
  position: absolute;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.error .error-404 {
  font-size: 150px;
  color: #FF6060;
}
.error .error-txt {
  color: #FF6060;
  font-size: 36px;
}
.error .error-link {
  text-decoration: underline;
  color: black;
  font-size: 18px;
  padding: 40px 0;
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */